{% extends "pages/abstract/_layout.html" %}
{% block css %}
<link rel="stylesheet" href="/templates/static/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="/templates/static/global/vendor/datatables.net-fixedheader-bs4/dataTables.fixedheader.bootstrap4.css">
<link rel="stylesheet" href="/templates/static/global/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedcolumns.bootstrap4.css">
<link rel="stylesheet" href="/templates/static/global/vendor/datatables.net-rowgroup-bs4/dataTables.rowgroup.bootstrap4.css">
<link rel="stylesheet" href="/templates/static/global/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.css">
<link rel="stylesheet" href="/templates/static/global/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.css">
<link rel="stylesheet" href="/templates/static/global/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.css">
<link rel="stylesheet" href="/templates/static/global/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.css">
{% endblock %}
{% block page %}
<div class="page">
  <div class="page-content">
    <!-- Panel Basic -->
    <div class="panel">
      <header class="panel-heading">
        <div class="panel-actions"></div>
        <h3 class="panel-title">源数据</h3>
      </header>
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped w-full" id="dataTables">
          <thead>
            <tr>
              <th width="10%">日期</th>
              <th width="15%">心情</th>
              <th width="10%">心情关键词</th>
              <th width="5%">消费额(元)</th>
              <th width="25%">消费关键词</th>
              <th width="35%">时间关键词(时)</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <!-- End Panel Basic -->
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/templates/static/global/vendor/datatables.net/jquery.dataTables.js"></script>
<script src="/templates/static/global/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/templates/static/global/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js"></script>
<script src="/templates/static/global/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js"></script>
<script src="/templates/static/global/vendor/datatables.net-rowgroup/dataTables.rowGroup.js"></script>
<script src="/templates/static/global/vendor/datatables.net-scroller/dataTables.scroller.js"></script>
<script src="/templates/static/global/vendor/datatables.net-select-bs4/dataTables.select.js"></script>
<script src="/templates/static/global/vendor/datatables.net-responsive/dataTables.responsive.js"></script>
<script src="/templates/static/global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
<script src="/templates/static/global/vendor/datatables.net-buttons/dataTables.buttons.js"></script>
<script src="/templates/static/global/vendor/datatables.net-buttons/buttons.html5.js"></script>
<script src="/templates/static/global/vendor/datatables.net-buttons/buttons.flash.js"></script>
<script src="/templates/static/global/vendor/datatables.net-buttons/buttons.print.js"></script>
<script src="/templates/static/global/vendor/datatables.net-buttons/buttons.colVis.js"></script>
<script src="/templates/static/global/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
<!-- <script src="/templates/static/global/js/Plugin/datatables.js"></script> -->
<script type="text/javascript">
$(document).ready(function() {
  $("#dataTables").DataTable({
    "scrollX": false,
    "scrollY": false,
    "ordering": true,
    "searching": true,
    "processing": true,
    "serverSide": true,
    "columns": [
      { "data": "pubtime" },
      { "data": "mood" },
      { "data": "mood_keywords" },
      { "data": "consume" },
      { "data": "consume_keywords" },
      { "data": "time_keywords" },
    ],
    "columnDefs": [
      { "width": "10%", "targets": 0 },
      { 
        "targets": [1], 
        "width": "11%",
        "data": "mood", 
        "render": function(data, type, full) { 
          if(data < 10){
            color = 'danger';
          }else if(data < 40){
            color = 'warning';
          }else if(data < 70){
            color = 'primary';
          }else{
            color = 'success';
          }
          return '<div class="progress progress-xs mb-0 "><div class="progress-bar progress-bar-'+ color +'" style="width: '+ data +'%"></div></div>';
        },
      },
      { "width": "10%", "targets": 2 },
      { "width": "9%", "targets": 3 },
      { "width": "25%", "targets": 4 },
      { "width": "35%", "targets": 5 },
    ],
    "ajax": "/api/data",
    "language": {
      "url": "/templates/static/data/Chinese.lang"
    },
  });
});
</script>
{% endblock %}