{% extends "pages/abstract/_layout.html" %}
{% block css %}
<!-- Plugins -->
<link rel="stylesheet" href="/templates/static/global/vendor/morris/morris.css">
<link rel="stylesheet" href="/templates/static/global/vendor/chartist/chartist.css">
<link rel="stylesheet" href="/templates/static/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
<link rel="stylesheet" href="/templates/static/css/index.min.css">
{% endblock %}
{% block page %}
<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">整体概览</h1>
  </div>
  <!-- Page Content -->
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-12">
        <!-- Product Overview Card -->
        <div id="productOverviewWidget" class="card card-shadow card-md">
          <!-- The Header Of First Card -->
          <div class="card-header card-header-transparent py-20">
            <div class="row pb-20" style="height:calc(100% - 322px);">
              <div class="col-md-8 col-sm-6">
                <div class="font-size-15 blue-grey-700 mb-0">年度时间使用情况</div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="counter counter-md">
                      <div class="counter-number-group text-nowrap">
                        <span class="counter-number">76</span>
                        <span class="counter-number-related">%</span>
                      </div>
                      <div class="counter-label blue-grey-400">有效时间</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="counter counter-md">
                      <div class="counter-number-group text-nowrap">
                        <span class="counter-number">24</span>
                        <span class="counter-number-related">%</span>
                      </div>
                      <div class="counter-label blue-grey-400">无效时间</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-header-actions">
              <ul class="nav nav-pills nav-pills-rounded product-filters">
                <li class="nav-item" hidden="true">
                  <a class="active nav-link" href="#scoreLineToDay">Day</a>
                </li>
              </ul>
            </div>
            <ul class="list-inline text-center mb-0">
              <li class="list-inline-item">
                <i class="icon wb-large-point cyan-400 mr-10" aria-hidden="true"></i> 有效时间
              </li>
              <li class="list-inline-item ml-35">
                <i class="icon wb-large-point purple-400 mr-10" aria-hidden="true"></i> 无效时间
              </li>
            </ul>
          </div>
          <!-- End The Header Of First Card -->
          <!-- The Content Of First Card -->
          <div class="card-block p-20">
            <div class="tab-content">
              <div class="ct-chart tab-pane active" id="scoreLineToDay"></div>
            </div>
            <div id="productOptionsData" class="text-center">
              <div class="row no-space">
                <!-- The First Counter Block-->
                <div class="col-xl-3 col-md-6">
                  <div class="counter">
                    <div class="counter-label">学习</div>
                    <div class="counter-number-group text-truncate">
                      <span class="counter-number">681</span>
                    </div>
                    <div class="ct-chart" data-counter-type="productVist"></div>
                  </div>
                </div>
                <!-- End The First Counter Block-->
                <!-- The Second Counter Block-->
                <div class="col-xl-3 col-md-6">
                  <div class="counter">
                    <div class="counter-label">工作</div>
                    <div class="counter-number-group text-truncate">
                      <span class="counter-number">522</span>
                    </div>
                    <div class="ct-chart" data-counter-type="productVistors"></div>
                  </div>
                </div>
                <!-- End The Second Counter Block-->
                <!-- The Third Counter Block-->
                <div class="col-xl-3 col-md-6">
                  <div class="counter">
                    <div class="counter-label">健身</div>
                    <div class="counter-number-group text-truncate">
                      <span class="counter-number">1,622</span>
                    </div>
                    <div class="ct-chart" data-counter-type="productPageViews"></div>
                  </div>
                </div>
                <!-- End The Third Counter Block-->
                <!-- The fourth Counter Block-->
                <div class="col-xl-3 col-md-6">
                  <div class="counter">
                    <div class="counter-label">睡觉</div>
                    <div class="counter-number-group text-truncate">
                      <span class="counter-number">843</span>
                    </div>
                    <div class="ct-chart" data-counter-type="productBounceRate"></div>
                  </div>
                </div>
                <!-- End The fourth Counter Block-->
              </div>
            </div>
          </div>
          <!-- End The Content Of First Card -->
        </div>
        <!-- End Product Overview Card -->
      </div>
      <div class="col-xl-7 col-12">
        <!-- Browser Flow Card -->
        <div id="annumalConsume" class="card card-shadow card-md">
          <div class="card-header card-header-transparent pb-15">
            <p class="font-size-15 blue-grey-700 mb-0">年度消费TOP5</p>
          </div>
          <div class="card-block px-30">
            <div class="row">
              <div class="col-md-6">
                <!-- Browsers Vists Table -->
                <table class="table table-analytics mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>类别</th>
                      <th>金额(元)</th>
                    </tr>
                  </thead>
                  <tbody id="consumeTable">
                  </tbody>
                </table>
                <!-- End Browsers Vists Table -->
              </div>
              <div class="col-md-6 px-0">
                <!-- MorrisDonut -->
                <div id="annumalConsumePieChart"></div>
                <!-- End MorrisDonut -->
                <!-- Stacked BarChart -->
                <div id="annumalConsumeBarChart"></div>
                <!--End Stacked BarChart -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Browser Flow Card -->
      </div>
      <div class="col-xl-5 col-12">
        <!-- Countries Vists Card -->
        <div id="countriesVistsWidget" class="card card-shadow card-md">
          <div class="card-header card-header-transparent pb-15">
            <p class="font-size-15 blue-grey-700 mb-0">年度心情关键词TOP5</p>
          </div>
          <div class="card-block px-30 pt-0">
            <div class="table-responsive">
              <table class="table table-analytics mb-0 text-nowrap">
                <thead>
                  <tr>
                    <th class="language">关键词</th>
                    <th class="vists">频率</th>
                    <th class="vists-percent">比重</th>
                  </tr>
                </thead>
                <tbody id="keywordsTable">
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Countries Vists Card -->
      </div>
    </div>
  </div>
  <!-- End Page Content -->
</div>
<!-- End Page -->
{% endblock %}
{% block scripts %}
<!-- Plugins -->
<script src="/templates/static/global/vendor/chartist/chartist.js"></script>
<script src="/templates/static/global/vendor/raphael/raphael.min.js"></script>
<script src="/templates/static/global/vendor/morris/morris.min.js"></script>
<script src="/templates/static/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="/templates/static/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script>
<!-- Page -->
<script src="/templates/static/global/js/Plugin/matchheight.js"></script>
<script src="/templates/static/js/index.js"></script>
{% endblock %}