.dashboard .card {
  height: calc(100% - 30px)
}

.dashboard .card-block {
  border-radius: 3px
}

#consumeMoodLineChart .ct-bar {
  stroke: #11c26d
}

#consumeMoodLineChart .ct-chart .ct-bar {
  stroke-width: 4px
}

@media (max-width:479px) {
  #consumeMoodLineChart .ct-chart {
    padding: 0
  }
}