<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="Sen Du">
  <title>Sdu's 2018</title>
  <link rel="apple-touch-icon" href="/templates/static/assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/templates/static/assets/images/favicon.ico">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/templates/static/global/css/bootstrap.min.css">
  <link rel="stylesheet" href="/templates/static/global/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/templates/static/assets/css/site.min.css">
  <!-- Plugins -->
  <link rel="stylesheet" href="/templates/static/global/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="/templates/static/global/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="/templates/static/global/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="/templates/static/global/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="/templates/static/global/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="/templates/static/global/vendor/flag-icon-css/flag-icon.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="/templates/static/global/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="/templates/static/global/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  <!-- css -->
  {% block css %}{% endblock %}
  <!-- End css -->
  <!--[if lt IE 9]>
    <script src="/templates/static/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
  <!--[if lt IE 10]>
    <script src="/templates/static/global/vendor/media-match/media.match.min.js"></script>
    <script src="/templates/static/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="/templates/static/global/vendor/breakpoints/breakpoints.js"></script>
  <script>
  Breakpoints();
  </script>
</head>

<body class="animsition">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  {% include "pages/includes/site-navbar.html" %}
  {% include "pages/includes/site-menubar.html" %}
  <!-- Page -->
  {% block page %}{% endblock %}
  <!-- End Page -->
  <!-- Footer -->
  {% include "pages/includes/site-footer.html" %}
  <!-- Core  -->
  <script src="/templates/static/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
  <script src="/templates/static/global/vendor/jquery/jquery.js"></script>
  <script src="/templates/static/global/vendor/popper-js/umd/popper.min.js"></script>
  <script src="/templates/static/global/vendor/bootstrap/bootstrap.js"></script>
  <script src="/templates/static/global/vendor/animsition/animsition.js"></script>
  <script src="/templates/static/global/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="/templates/static/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
  <script src="/templates/static/global/vendor/asscrollable/jquery-asScrollable.js"></script>
  <script src="/templates/static/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
  <!-- Plugins -->
  <script src="/templates/static/global/vendor/switchery/switchery.js"></script>
  <script src="/templates/static/global/vendor/intro-js/intro.js"></script>
  <script src="/templates/static/global/vendor/screenfull/screenfull.js"></script>
  <script src="/templates/static/global/vendor/slidepanel/jquery-slidePanel.js"></script>
  <!-- Scripts -->
  <script src="/templates/static/global/js/Component.js"></script>
  <script src="/templates/static/global/js/Plugin.js"></script>
  <script src="/templates/static/global/js/Base.js"></script>
  <script src="/templates/static/global/js/Config.js"></script>
  <script src="/templates/static/assets/js/Section/Menubar.js"></script>
  <script src="/templates/static/assets/js/Section/Sidebar.js"></script>
  <script src="/templates/static/assets/js/Section/PageAside.js"></script>
  <script src="/templates/static/assets/js/Plugin/menu.js"></script>
  <!-- Config -->
  <script src="/templates/static/global/js/config/colors.js"></script>
  <script src="/templates/static/assets/js/config/tour.js"></script>
  <script>
  Config.set('assets', '/templates/static/assets');
  </script>
  <!-- Page -->
  <script src="/templates/static/assets/js/Site.js"></script>
  <script src="/templates/static/global/js/Plugin/asscrollable.js"></script>
  <script src="/templates/static/global/js/Plugin/slidepanel.js"></script>
  <script src="/templates/static/global/js/Plugin/switchery.js"></script>
  <script type="text/javascript">
  var _jquery2;
  (function(global, factory) {
    if (typeof define === "function" && define.amd) {
      define('/', ['jquery', 'Site'], factory);
    } else if (typeof exports !== "undefined") {
      factory(require('jquery'), require('Site'));
    } else {
      var mod = {
        exports: {}
      };
      factory(global.jQuery, global.Site);
      global.dashboardAnalytics = mod.exports;
    }
  })(this, function(_jquery, _Site) {
    'use strict';
    _jquery2 = babelHelpers.interopRequireDefault(_jquery);
    (0, _jquery2.default)(document).ready(function($$$1) {
      (0, _Site.run)();
    });
  });
  </script>
  {% block scripts %}{% endblock %}
</body>

</html>