<div class="site-menubar site-menubar-light">
  <div class="site-menubar-body">
    <ul class="site-menu" data-plugin="menu">
      <li class="site-menu-item has-sub">
        <a href="/">
          <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
          <span class="site-menu-title">首页</span>
        </a>
      </li>
      <li class="site-menu-item has-sub">
        <a href="/data">
          <i class="site-menu-icon wb-file" aria-hidden="true"></i>
          <span class="site-menu-title">源数据</span>
        </a>
      </li>
      <li class="site-menu-item has-sub">
        <a href="/chart">
          <i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>
          <span class="site-menu-title">统计图表</span>
        </a>
      </li>
      <li class="site-menu-item has-sub">
        <a href="/analytics">
          <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
          <span class="site-menu-title">综合分析</span>
        </a>
      </li>
    </ul>
  </div>
</div>